<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='my-2'>
    <%= form.text_area :message, class: 'w-full rounded-lg', placeholder: 'Enter your message here' %>
  </div>

  <div>
    <%= form.submit class: 'w-full bg-sky-600 text-slate-50 p-4 text-center rounded-lg cursor-pointer' %>
  </div>
<% end %>
