<div id="<%= dom_id message %>">
  <p>
    <strong>Receiver phone number:</strong>
    <%= message.receiver_phone_number %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <p>
    <strong>Sender phone number:</strong>
    <%= message.sender_phone_number %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= message.meta %>
  </p>

  <p>
    <strong>Outgoing:</strong>
    <%= message.outgoing %>
  </p>

</div>
