<%= turbo_stream_from conversation %>
<div id="<%= dom_id conversation %>" class='bg-sky-600 shadow-xl rounded-lg mt-3 px-2 py-4' style='position: relative'>
  <div class="flex w-100 justify-between">
    <p class='text-slate-50'>
      <strong>Client phone number:</strong>
      <%= conversation.client_phone_number %>
      <strong>- Keywords:</strong>
      <%= conversation.keywords.join(', ') %>
    </p>

    <div class="flex">
      <% if conversation.unread_messages? %>
        <div class='mr-2 text-sm rounded-md p-1 bg-amber-500 text-slate-50'>New messages <strong>(<%= conversation.messages.count(&:unread?) %>)</strong></div>
        <%= form_for conversation, url: read_conversation_url(conversation), method: :patch, remote: true do |form| %>
          <%= form.submit "Mark as Read", class: 'bg-teal-500 text-slate-50 p-1 rounded-md cursor-pointer text-sm mr-2' %>
        <% end %>
      <% end %>
      <%= link_to 'Open', conversation_path(conversation, date: date, q: q, page: page, sort: sort), data: { turbo_frame: '_top' }, class: 'bg-teal-500 text-slate-50 p-1 rounded-md cursor-pointer text-sm' %>
    </div>
  </div>

  <% if conversation.messages.size.zero? %>
    <p class='text-slate-50'>
      No messages yet
    </p>
  <% else %>
    <p class='text-slate-50'>
      <% if conversation.messages.last.outgoing %>
      You said:
      <% else %>
      Client said:
      <% end %>
      <strong>
      <%= conversation.messages.last.body %>
      </strong>
      at
      <%= conversation.messages.last.sent_at&.in_time_zone(tz) %>
    </p>
  <% end %>

  <p class='text-slate-50 text-sm'>
    <% if conversation.messages.select(&:outgoing?).empty? %>
      No outgoing message sent yet
    <% else %>
      First message sent at: <%= conversation.first_message_dispatched_at&.in_time_zone(tz) %>
    <% end %>
  </p>
</div>
