<div class="bg-white">
 <div class="flex mx-auto w-[72%] justify-between items-end">
  <header class="">
    <nav class="" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/wa/conversations" class="">
          <span class="sr-only">Masstrader</span>
          <%= image_tag 'logo_mastrader.jpg', :class => "h-[11rem]" %>
        </a>
      </div>
      <!-- <div class="hidden lg:flex lg:gap-x-12">
        <a href="/wa/conversations" class="text-sm font-semibold leading-6 text-gray-900">Conversations</a>
      </div> -->
      <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      </div> -->
    </nav>
  </header>
  <div class='flex justify-end'>
    <%= link_to "+ Bulk", new_message_path, class: 'bg-[#009588] text-slate-50 p-2 rounded-md cursor-pointer text-md mr-2' %>
    <%= link_to "+ Conversation", new_conversation_path, class: 'bg-[#009588] text-slate-50 p-2 rounded-md cursor-pointer text-md' %>
  </div>
 </div>
 <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= error %></p>
  <div class="mx-auto flex flex-col relative isolate px-6 lg:px-8 mt-5">
    <div class="mx-auto w-full inline-flex flex-row">
      <%= form_with url: conversations_path, method: :get, :html => {:class => 'flex flex-row justify-end w-[88%]'}, data: { turbo_frame: "conversations-turbo-frame", turbo_action: "advance" } do |form| %>
      <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#69B7D3] mr-2">
        <%= form.date_field :date, class: 'block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 md:text-md md:leading-6', value: @date || '', max: Date.today %>
      </div>
      <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#69B7D3] mr-2">
        <%= form.text_field :q, placeholder: 'Enter phone number or keyword', class: 'block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 md:text-md md:leading-6 w-[280px]', value: @q || '' %>
      </div>
      <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-[#69B7D3] mr-2">
        <%= form.select :sort, [["Latest updated", "latest_updated"], ["Keyword DESC", "keyword_desc"], ["Keyword ASC", "keyword_asc"], ["No Keyword", "no_keyword"], ["Unread Messages", "unread_message"], ["No Outgoing Messages", "no_outgoing_messages"]], { selected: @sort || 'latest_updated' }, { class: 'block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 md:text-md md:leading-6' } %>
      </div>
      <div class="flex">
        <%= form.submit "Search", class: 'bg-[#009588] shadow-sm text-slate-50 p-2 rounded-md cursor-pointer mr-2' %>
      </div>
      <%  if @date.present? %>
      <div class="flex">
        <%= link_to "Download as Excel", export_excel_path(format: :xlsx, date: params[:date], sort: params[:sort]), class: 'bg-[#009588] shadow-sm text-slate-50 p-2 rounded-md cursor-pointer' %>
      </div>
        <% end %>         
      <% end %>
    </div>
    <%= render partial:"conversations/pagination", date: @date, q: @q, tz: "America/Mexico_City", page: @page, sort: @sort, total_count: @total_count %>
    <div id="conversations" class="flex flex-col items-center mb-[20px]">
      <% @conversations.each do |conversation| %>
        <%= render conversation, date: @date, q: @q, tz: "America/Mexico_City", page: @page, sort: @sort %>
      <% end %>
    </div>
  </div>
</div>
